* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.hidden {
    display: none;
  }

.logo {
  width: 30%;
  min-width: 200px;
  padding: 10px;
}

.openingScreen {
  background-color: #4D5061;
  background-image: url("images/cloudBig.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 800px;
}

.headlineSection {
  padding: 10px;
}

.formSection {
  background-color: #E9EDDE;
  padding: 40px 35px 35px 35px;
  height: 150px;
  width: 100%;
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.input {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 12px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  padding:6px 24px;
}

.input:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.navbar a {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #E9EDDE;
  padding-right: 20px;
  padding-left: 20px;
}

nav a:hover {
  color: #FAFF81;
}

.navbar{
  background-color: #3D3B30;
  padding: 10px;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0px;
  margin-top: 0;
	z-index: 1000;
}

.bodyText {
  font-family: 'Roboto', sans-serif;
}

.secondHeadlineText {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #4D5061;
}

.titleText {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #E9EDDE;
  margin-bottom: 0px;
  margin-top: 0px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #4D5061;
	font-size:16px;
  padding:1px 24px 3px;
  margin-left: 5px;
  margin-top: 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

#map {
    height: 400px;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}