* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.hidden {
    display: none;
  }

.logo {
  width: 30%;
  min-width: 200px;
  padding: 10px;
}

.headlineSection {
  background-color: #4D5061;
  background-image: url("images/cloud.png");
  background-repeat: no-repeat;
  background-size: 100%;
  
  padding: 10px;
}

.headLineSection::before {
  background-image: url("images/cloud.png");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .35;
}

.formSection {
  background-color: #E9EDDE;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #E9EDDE;
  padding-right: 20px;
}

nav a:hover {
  color: #FAFF81;
}

.bodyText {
  font-family: 'Roboto', sans-serif;
}

.secondHeadlineText {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #4D5061;
}

.titleText {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #E9EDDE;
  margin-bottom: 0px;
  margin-top: 0px;
}

.searchButton {
  background-color: #4D5061;
  color: #E9EDDE;
}

#map {
    height: 400px;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}